:root {
    --duration: 2s;
    --outer-delay: 0.2s;
    --main-delay: 0.3s;
    --ease: cubic-bezier(0.17, 0.67, 0.34, 0.99);
    --image-size: 140vh;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    position: relative;
    transform-origin: center center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #da1e05, #90bafc);
}

.scene {
    height: 80vh;
    width: 95vh;
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    position: absolute;
    cursor: pointer;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: var(--image-size);
    height: var(--image-size);
    position: absolute;
    overflow: hidden;
}

.background,
.-clip {
    height: 100%;
    width: 100%;
    position: absolute;
}

.background:before {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    width: 100%;
    display: block;
}

.-rounded {
    border-radius: 100%;
}

.-outer {
    transform: scale(0.4);
}

.-outer .background {
    transform: scale(2.5);
}

.-outer:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
}

.-rounded {
    border-radius: 100%;
    overflow: hidden;
}

.-inner {
    transform: scale(0.2);
}

.-inner .background {
    transform: scale(5.05);
}

.slide:first-child .background:before {
    background-image: url("../Resources/hbd/anne.jpg");
}

.slide:nth-child(2) .background:before {
    background-image: url("../Resources/hbd/1.jpg");
}

.slide:nth-child(3) .background:before {
    background-image: url("../Resources/hbd/7.jpg");
}

.slide:nth-child(4) .background:before {
    background-image: url("../Resources/hbd/10.jpg");
}

.slide {
    transition: opacity var(--duration);
}

.slide[data-current=true] {
    opacity: 1;
    --main-delay: .5s;
}

.slide[data-current=true] .image .background:before {
    animation-name: animate-in;
}

.slide:not([data-current=true]) {
    opacity: 0;
}

.slide:not([data-current=true]) .image .background:before {
    animation-name: animate-out;
}

.scene .image .background:before {
    animation-duration: var(--duration);
    animation-delay: var(--main-delay);
}

.scene .image:nth-child(2) .background:before {
    animation-delay: var(--outer-delay);
}

.scene .image:last-child .background:before {
    animation-delay: 0s;
}

@keyframes animate-out {
    from {
        transform: rotateZ(0deg) scale(1);
    }

    to {
        transform: rotateZ(360deg) scale(3);
    }
}

@keyframes animate-in {
    from {
        transform: rotateZ(0deg) scale(3);
    }

    to {
        transform: rotateZ(360deg) scale(1);
    }
}

#downloadButton{
    position: absolute;
    right: 25px;
    bottom: 70px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: #24292e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  @media screen and (min-width: 500px) {
    #downloadButton:hover, #buttonId:hover {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }
  @media screen and (max-width: 700px) {
    #downloadButton, #buttonId {
      position: relative;
      bottom: auto;
      right: auto;
      margin-top: 20px;
    }
    #downloadButton:active, #buttonId:active {
      transform: scale(1.1);
      box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
    }
  }

  /* ~.~.~.~.~.~.~.~.~.~.~.~ */
#buttonId{
    position: absolute;
    right: 45px;
    bottom: 10px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0px 4px 30px -6px rgba(36, 52, 70, 0.65);
    background: #24292e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}